numpy
mpi4py 
matplotlib==2.2.4
cython
cffi
numexpr
ipython==6.1
numpy>=1.21.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
